<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465652315115-pbinnc5gs2so6no4b7opiqkt266sfvk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465652315115-pbinnc5gs2so6no4b7opiqkt266sfvk8</string>
	<key>API_KEY</key>
	<string> put api key here </string>
	<key>GCM_SENDER_ID</key>
	<string>465652315115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whispercppdemo.WhisperCppDemo</string>
	<key>PROJECT_ID</key>
	<string>mavis-f888b</string>
	<key>STORAGE_BUCKET</key>
	<string>mavis-f888b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465652315115:ios:067860c49f0591a6cfdfae</string>
</dict>
</plist>